.header-1{
    font-family:Calibri;
    font-weight: bold;
}

.paragraph-1{
    font-family: "Calibri Light";
    font-style: oblique;
}

.list-1{
    font-family:"Calibri Light";
}

.list-2{
    font-family: "Calibri Light";
    font-style: oblique;
}

.links {

}